<!-- Offer Banner Section Start -->
<section class="gi-offer-section padding-tb-40">
    <div class="container">
        <!--  Offer banners -->
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="2s">
                <div class="gi-ofr-banners">
                    <div class="gi-bnr-body">
                        <div class="gi-bnr-img">
                            <span class="lbl">70% Off</span>
                            <img src="images/banner/2.jpg" alt="banner">
                        </div>
                        <div class="gi-bnr-detail">
                            <h5>Tasty Snack & Fastfood</h5>
                            <p>The flavor of something special</p>
                            <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-duration="2s">
                <div class="gi-ofr-banners m-t-767">
                    <div class="gi-bnr-body">
                        <div class="gi-bnr-img">
                            <span class="lbl">50% Off</span>
                            <img src="images/banner/3.jpg" alt="banner">
                        </div>
                        <div class="gi-bnr-detail">
                            <h5>Fresh Fruits & veggies</h5>
                            <p>A healthy meal for every one</p>
                            <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Offer section end -->