<section class="gi-offer-section padding-tb-40" *ngIf="selectedBanners && selectedBanners.length > 0">
    <div class="container">
        <div class="row">
            <div *ngFor="let banner of selectedBanners; let i = index" class="col-md-6" [class.wow]="true"
                [attr.data-wow-duration]="'2s'" [ngClass]="i === 0 ? 'fadeInLeft' : 'fadeInRight'">

                <div class="gi-ofr-banners" [class.m-t-767]="i > 0"
                    [ngStyle]="{'background-color': banner.backgroundColor || 'transparent'}">
                    <div class="gi-bnr-body">

                        <!-- Banner Image -->
                        <div class="gi-bnr-img">
                            <span *ngIf="banner.priceText" class="lbl">
                                {{ banner.priceText }}
                            </span>
                            <img [src]="getImageUrl(banner)" [alt]="banner.imageAltText || banner.title">
                        </div>

                        <!-- Banner Details -->
                        <div class="gi-bnr-detail">
                            <h5 [style.color]="banner.textColor || '#000'" [innerHTML]="banner.title">
                            </h5>
                            <p *ngIf="banner.subTitle" [style.color]="banner.textColor || '#000'"
                                [innerHTML]="banner.subTitle">
                            </p>
                            <a *ngIf="hasButton(banner)" [href]="banner.buttonUrl || '#'"
                                [target]="banner.openInNewTab ? '_blank' : '_self'"
                                [rel]="banner.openInNewTab ? 'noopener noreferrer' : ''" class="gi-btn-2">
                                {{ banner.buttonText }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>