<div class="gi-sidebar-wrap">
    <!-- Sidebar Category Block -->
    <div class="gi-sidebar-block drop">
        <div class="gi-sb-title">
            <h3 class="gi-sidebar-title">Category</h3>
        </div>
        <div class="gi-sb-block-content p-t-15">
            <ul>
                <li>
                    <a href="javascript:void(0)" class="gi-sidebar-block-item main drop">clothes</a>
                    <ul style="display: block;">
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="#">Men
                                    <span>-25</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="#">Women
                                    <span>-52</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="#">Boy
                                    <span>-40</span></a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="gi-sb-block-content">
            <ul>
                <li>
                    <a href="javascript:void(0)" class="gi-sidebar-block-item main drop">cosmetics</a>
                    <ul>
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Men
                                    <span>-25</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Women
                                    <span>-52</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Boy
                                    <span>-40</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Girl
                                    <span>-35</span></a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="gi-sb-block-content">
            <ul>
                <li>
                    <a href="shop-left-sidebar-col-3.html" class="gi-sidebar-block-item main">shoes<span>-15</span></a>
                </li>
            </ul>
        </div>
        <div class="gi-sb-block-content">
            <ul>
                <li>
                    <a href="shop-left-sidebar-col-3.html" class="gi-sidebar-block-item main">bag<span>-27</span></a>
                </li>
            </ul>
        </div>
        <div class="gi-sb-block-content">
            <ul>
                <li>
                    <a href="javascript:void(0)" class="gi-sidebar-block-item main drop">electronics</a>
                    <ul>
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Men
                                    <span>-25</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Women
                                    <span>-52</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Boy
                                    <span>-40</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="gi-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Girl
                                    <span>-35</span></a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sidebar Brand Block -->
    <div class="gi-sidebar-block">
        <div class="gi-sb-title">
            <h3 class="gi-sidebar-title">Brand</h3>
        </div>
        <div class="gi-sb-block-content">
            <ul>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" checked>
                        <a href="javascript:void(0)">
                            <span><i class="fi-rr-cupcake"></i>Zencart Dairy</span>
                        </a>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox">
                        <a href="javascript:void(0)">
                            <span><i class="fi fi-rs-apple-whole"></i>Xeta Fruits</span>
                        </a>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox">
                        <a href="javascript:void(0)">
                            <span><i class="fi fi-rr-popcorn"></i>Pili Snack</span>
                        </a>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox">
                        <a href="javascript:void(0)">
                            <span><i class="fi fi-rr-drink-alt"></i>Indiana Juice</span>
                        </a>
                        <span class="checked"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sidebar Weight Block -->
    <div class="gi-sidebar-block">
        <div class="gi-sb-title">
            <h3 class="gi-sidebar-title">Weight</h3>
        </div>
        <div class="gi-sb-block-content">
            <ul>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="" checked>
                        <a href="#">500gm Pack</a>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <a href="#">1kg Pack</a>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <a href="#">2kg Pack</a>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <a href="#">5kg Pack</a>
                        <span class="checked"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sidebar Color item -->
    <div class="gi-sidebar-block color-block gi-sidebar-block-clr">
        <div class="gi-sb-title">
            <h3 class="gi-sidebar-title">Color</h3>
        </div>
        <div class="gi-sb-block-content">
            <ul>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#c4d6f9;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#ff748b;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#000000;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li class="active">
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#2bff4a;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#ff7c5e;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#f155ff;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#ffef00;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#c89fff;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#7bfffa;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#56ffc1;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#ffdb9f;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#9f9f9f;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
                <li>
                    <div class="gi-sidebar-block-item">
                        <input type="checkbox" value="">
                        <span class="gi-clr-block" style="background-color:#6556ff;"></span>
                        <span class="checked"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sidebar Price Block -->
    <div class="gi-sidebar-block">
        <div class="gi-sb-title">
            <h3 class="gi-sidebar-title">Price</h3>
        </div>
        <div class="gi-sb-block-content gi-price-range-slider es-price-slider">
            <div class="gi-price-filter">
                <div class="gi-price-input">
                    <label class="filter__label">
                        From<input type="text" class="filter__input">
                    </label>
                    <span class="gi-price-divider"></span>
                    <label class="filter__label">
                        To<input type="text" class="filter__input">
                    </label>
                </div>
                <div id="gi-sliderPrice" class="filter__slider-price" data-min="0" data-max="250" data-step="10"></div>
            </div>
        </div>
    </div>
    <!-- Sidebar tags -->
    <div class="gi-sidebar-block">
        <div class="gi-sb-title">
            <h3 class="gi-sidebar-title">Tags</h3>
        </div>
        <div class="gi-tag-block gi-sb-block-content">
            <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Clothes</a>
            <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Fruits</a>
            <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Snacks</a>
            <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Dairy</a>
            <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Seafood</a>
            <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Fastfood</a>
            <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Toys</a>
        </div>
    </div>
</div>