<!-- Banner section -->
<section class="gi-banner padding-tb-40 wow fadeInUp" data-wow-duration="2s" *ngIf="selectedBanner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gi-animated-banner" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200"
                    [ngStyle]="{
            'background-color': selectedBanner.backgroundColor || 'transparent',
            'background-image': 'url(' + getImageUrl(selectedBanner) + ')'
          }">

                    <h2 class="d-none">{{ selectedBanner.title }}</h2>

                    <div class="gi-bnr-detail" [ngStyle]="{'text-align': getTextAlignment(selectedBanner)}">
                        <div class="gi-bnr-info">

                            <!-- Title -->
                            <h2 [style.color]="selectedBanner.textColor || '#000'" [innerHTML]="selectedBanner.title">
                            </h2>

                            <h6 *ngIf="selectedBanner.subTitle" [style.color]="selectedBanner.textColor || '#000'"
                                [innerHTML]="selectedBanner.subTitle"></h6>

                            <!-- Price Text and Subtitle -->
                            <h3 *ngIf="selectedBanner.priceText" [innerHTML]="selectedBanner.priceText">
                                <!-- <span *ngIf="selectedBanner.priceText">{{ selectedBanner.priceText }}</span> -->
                                <!-- <span *ngIf="selectedBanner.subTitle">{{ selectedBanner.subTitle }}</span> -->
                            </h3>

                            <!-- Call to Action Button -->
                            <a *ngIf="hasButton(selectedBanner)" [href]="selectedBanner.buttonUrl || '#'"
                                [target]="selectedBanner.openInNewTab ? '_blank' : '_self'"
                                [rel]="selectedBanner.openInNewTab ? 'noopener noreferrer' : ''" class="gi-btn-2">
                                {{ selectedBanner.buttonText }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner section End -->