<!-- Banner section -->
<section class="gi-banner padding-tb-40 wow fadeInUp" data-wow-duration="2s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gi-animated-banner" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
                    <h2 class="d-none">Offers</h2>
                    <div class="gi-bnr-detail">
                        <div class="gi-bnr-info">
                            <h2>Fresh Fruits <br>Healthy Products</h2>
                            <h3>30% off sale <span>Hurry up!!!</span></h3>
                            <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner section End -->