<!-- Breadcrumb -->
<app-breadcrumb pageTitle="About Us" [items]="breadcrumbItems"></app-breadcrumb>

<!-- About section -->
<section class="gi-about padding-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="gi-about-img">
                    <img src="images/common/about.png" class="v-img" alt="about">
                    <img src="images/common/about-2.png" class="h-img" alt="about">
                    <img src="images/common/about-3.png" class="h-img" alt="about">
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="gi-about-detail">
                    <div class="section-title">
                        <h2>Who We <span>Are?</span></h2>
                        <p>We’re here to serve only the best products for you. Enriching your homes with the best
                            essentials.</p>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                    <p>Lorem Ipsum has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About section End -->

<!-- Service Section -->
<section class="gi-service-section padding-tb-40">
    <div class="container">
        <div class="section-title-2">
            <h2 class="gi-title">Our <span>Services</span></h2>
            <p>Customer service should not be a department. It should be the entire company.</p>
        </div>
        <div class="row m-tb-minus-12">
            <div class="gi-ser-content gi-ser-content-1 col-sm-6 col-md-6 col-lg-3 p-tp-12" data-aos="fade-up"
                data-aos-duration="2000" data-aos-delay="200">
                <div class="gi-ser-inner">
                    <div class="gi-service-image">
                        <i class="fi fi-ts-truck-moving"></i>
                    </div>
                    <div class="gi-service-desc">
                        <h3>Free Shipping</h3>
                        <p>Free shipping on all US order or order above $200</p>
                    </div>
                </div>
            </div>
            <div class="gi-ser-content gi-ser-content-2 col-sm-6 col-md-6 col-lg-3 p-tp-12" data-aos="fade-up"
                data-aos-duration="2000" data-aos-delay="400">
                <div class="gi-ser-inner">
                    <div class="gi-service-image">
                        <i class="fi fi-ts-hand-holding-seeding"></i>
                    </div>
                    <div class="gi-service-desc">
                        <h3>24X7 Support</h3>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
            <div class="gi-ser-content gi-ser-content-3 col-sm-6 col-md-6 col-lg-3 p-tp-12" data-aos="fade-up"
                data-aos-duration="2000" data-aos-delay="600">
                <div class="gi-ser-inner">
                    <div class="gi-service-image">
                        <i class="fi fi-ts-badge-percent"></i>
                    </div>
                    <div class="gi-service-desc">
                        <h3>30 Days Return</h3>
                        <p>Simply return it within 30 days for an exchange</p>
                    </div>
                </div>
            </div>
            <div class="gi-ser-content gi-ser-content-4 col-sm-6 col-md-6 col-lg-3 p-tp-12" data-aos="fade-up"
                data-aos-duration="2000" data-aos-delay="800">
                <div class="gi-ser-inner">
                    <div class="gi-service-image">
                        <i class="fi fi-ts-donate"></i>
                    </div>
                    <div class="gi-service-desc">
                        <h3>Payment Secure</h3>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->

<!-- Testimonials Section -->
<section class="gi-testimonials-section padding-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testim-bg p-tb-80">
                    <div class="section-title d-none">
                        <h2>Customers <span>Review</span></h2>
                    </div>
                    <span class="gi-testi-shape-1"></span>
                    <div class="gi-test-outer gi-test-section">
                        <ul id="gi-testimonial-slider" class="owl-carousel">
                            <li class="gi-test-item">
                                <img src="images/icons/top-quotes.svg" class="svg_img test_svg top" alt="user">
                                <div class="gi-test-inner">
                                    <div class="gi-test-img">
                                        <img alt="testimonial" title="testimonial" src="images/user/1.jpg">
                                    </div>
                                    <div class="gi-test-content">
                                        <div class="gi-test-desc">Lorem Ipsum is simply dummy text of the printing
                                            and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text
                                            ever since the 1500s.</div>
                                        <div class="gi-test-name">Mariya Klinton</div>
                                        <div class="gi-test-designation">CEO</div>
                                        <div class="gi-test-rating">
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <img src="images/icons/bottom-quotes.svg" class="svg_img test_svg bottom" alt="">
                            </li>
                            <li class="gi-test-item ">
                                <img src="images/icons/top-quotes.svg" class="svg_img test_svg top" alt="">
                                <div class="gi-test-inner">
                                    <div class="gi-test-img">
                                        <img alt="testimonial" title="testimonial" src="images/user/2.jpg">
                                    </div>
                                    <div class="gi-test-content">
                                        <div class="gi-test-desc">standard dummy text
                                            ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen</div>
                                        <div class="gi-test-name">John Doe</div>
                                        <div class="gi-test-designation">General Manager</div>
                                        <div class="gi-test-rating">
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <img src="images/icons/bottom-quotes.svg" class="svg_img test_svg bottom" alt="">
                            </li>
                            <li class="gi-test-item">
                                <img src="images/icons/top-quotes.svg" class="svg_img test_svg top" alt="">
                                <div class="gi-test-inner">
                                    <div class="gi-test-img">
                                        <img alt="testimonial" title="testimonial" src="images/user/3.jpg">
                                    </div>
                                    <div class="gi-test-content">
                                        <div class="gi-test-desc">when an unknown printer took a galley of type and
                                            scrambled it to make a type specimenLorem Ipsum has been the industry's
                                            ever since the 1500s, </div>
                                        <div class="gi-test-name">Nency Lykra</div>
                                        <div class="gi-test-designation">Marketing Manager</div>
                                        <div class="gi-test-rating">
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                            <i class="gicon gi-star fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <img src="images/icons/bottom-quotes.svg" class="svg_img test_svg bottom" alt="">
                            </li>
                        </ul>
                    </div>
                    <span class="gi-testi-shape-2"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->

<!-- Facts Section -->
<section class="gi-facts-section padding-tb-40">
    <div class="container">
        <div class="row m-tb-minus-12">
            <div class="gi-facts-content col-sm-12 col-md-6 col-lg-3 p-tp-12">
                <div class="gi-facts-inner">
                    <div class="gi-count">
                        <span class="counter">65K+</span>
                    </div>
                    <div class="gi-facts-desc">
                        <h4>Vendors</h4>
                        <p>Contrary to popular belief, Lorem is not simply random text.</p>
                    </div>
                </div>
            </div>
            <div class="gi-facts-content col-sm-12 col-md-6 col-lg-3 p-tp-12">
                <div class="gi-facts-inner">
                    <div class="gi-count">
                        <span class="counter">$45B+</span>
                    </div>
                    <div class="gi-facts-desc">
                        <h4>Earnings</h4>
                        <p>Contrary to popular belief, Lorem is not simply random text.</p>
                    </div>
                </div>
            </div>
            <div class="gi-facts-content col-sm-12 col-md-6 col-lg-3 p-tp-12">
                <div class="gi-facts-inner">
                    <div class="gi-count">
                        <span class="counter">25M+</span>
                    </div>
                    <div class="gi-facts-desc">
                        <h4>Sold</h4>
                        <p>Contrary to popular belief, Lorem is not simply random text.</p>
                    </div>
                </div>
            </div>
            <div class="gi-facts-content col-sm-12 col-md-6 col-lg-3 p-tp-12">
                <div class="gi-facts-inner">
                    <div class="gi-count">
                        <span class="counter">70K+</span>
                    </div>
                    <div class="gi-facts-desc">
                        <h4>Products</h4>
                        <p>Contrary to popular belief, Lorem is not simply random text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Facts Section End -->

<!-- Team Section -->
<section class="gi-team-section padding-tb-40">
    <div class="container">
        <div class="section-title-2">
            <h2 class="gi-title">Our <span>Team</span></h2>
            <p>Meet out expert team members.</p>
        </div>
        <div class="gi-team owl-carousel">
            <div class="gi-team-box">
                <div class="gi-team-imag">
                    <img src="images/user/1.jpg" alt="user">
                    <div class="gi-team-socials">
                        <ul class="align-itegi-center">
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gi-team-info">
                    <h5>Olivia Smith</h5>
                    <p>Founder</p>
                </div>
            </div>
            <div class="gi-team-box">
                <div class="gi-team-imag">
                    <img src="images/user/2.jpg" alt="user">
                    <div class="gi-team-socials">
                        <ul class="align-itegi-center">
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gi-team-info">
                    <h5>William Dalin</h5>
                    <p>Co-Founder</p>
                </div>
            </div>
            <div class="gi-team-box">
                <div class="gi-team-imag">
                    <img src="images/user/3.jpg" alt="user">
                    <div class="gi-team-socials">
                        <ul class="align-itegi-center">
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gi-team-info">
                    <h5>Emma Welson</h5>
                    <p>Manager</p>
                </div>
            </div>
            <div class="gi-team-box">
                <div class="gi-team-imag">
                    <img src="images/user/4.jpg" alt="user">
                    <div class="gi-team-socials">
                        <ul class="align-itegi-center">
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gi-team-info">
                    <h5>Benjamin Martin</h5>
                    <p>Leader</p>
                </div>
            </div>
            <div class="gi-team-box">
                <div class="gi-team-imag">
                    <img src="images/user/5.jpg" alt="user">
                    <div class="gi-team-socials">
                        <ul class="align-itegi-center">
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="gi-social-link">
                                <a href="#"><i class="gicon gi-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gi-team-info">
                    <h5>Amelia Martin</h5>
                    <p>Leader</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Facts Section End -->