<!-- Service Section -->
<section class="gi-service-section padding-tb-40">
    <div class="container">
        <div class="row m-tb-minus-12">
            <div class="gi-ser-content gi-ser-content-1 col-sm-6 col-md-6 col-lg-3 p-tp-12 wow fadeInUp">
                <div class="gi-ser-inner">
                    <div class="gi-service-image">
                        <i class="fi fi-ts-truck-moving"></i>
                    </div>
                    <div class="gi-service-desc">
                        <h3>Free Shipping</h3>
                        <p>Free shipping on all US order or order above $200</p>
                    </div>
                </div>
            </div>
            <div class="gi-ser-content gi-ser-content-2 col-sm-6 col-md-6 col-lg-3 p-tp-12 wow fadeInUp"
                data-wow-delay=".4s">
                <div class="gi-ser-inner">
                    <div class="gi-service-image">
                        <i class="fi fi-ts-hand-holding-seeding"></i>
                    </div>
                    <div class="gi-service-desc">
                        <h3>24X7 Support</h3>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
            <div class="gi-ser-content gi-ser-content-3 col-sm-6 col-md-6 col-lg-3 p-tp-12 wow fadeInUp"
                data-wow-delay=".6s">
                <div class="gi-ser-inner">
                    <div class="gi-service-image">
                        <i class="fi fi-ts-badge-percent"></i>
                    </div>
                    <div class="gi-service-desc">
                        <h3>30 Days Return</h3>
                        <p>Simply return it within 30 days for an exchange</p>
                    </div>
                </div>
            </div>
            <div class="gi-ser-content gi-ser-content-4 col-sm-6 col-md-6 col-lg-3 p-tp-12 wow fadeInUp"
                data-wow-delay=".8s">
                <div class="gi-ser-inner">
                    <div class="gi-service-image">
                        <i class="fi fi-ts-donate"></i>
                    </div>
                    <div class="gi-service-desc">
                        <h3>Payment Secure</h3>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->