<!-- Shop Banners Start -->
<div class="padding-b-40 m-b-40">
    <div class="row">
        <div class="col-md-6">
            <div class="gi-ofr-banners">
                <div class="gi-bnr-body">
                    <div class="gi-bnr-img">
                        <span class="lbl">70% Off</span>
                        <img src="images/banner/5.jpg" alt="banner">
                    </div>
                    <div class="gi-bnr-detail">
                        <h5>Fresh Fruits & veggies</h5>
                        <p>The flavor of something special.</p>
                        <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="gi-ofr-banners m-t-767">
                <div class="gi-bnr-body">
                    <div class="gi-bnr-img">
                        <span class="lbl">50% Off</span>
                        <img src="images/banner/6.jpg" alt="banner">
                    </div>
                    <div class="gi-bnr-detail">
                        <h5>Tasty Snack & Fastfood</h5>
                        <p>A healthy meal for every one.</p>
                        <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>