<!-- Trending, Top Rated Start -->
<section class="gi-offer-section padding-tb-40">
    <div class="container">
        <div class="row">
            <!-- Banner -->
            <div
                class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-6 gi-all-product-content gi-new-product-content wow fadeInUp">
                <div class="gi-banner-inner">
                    <div class="gi-banner-block gi-banner-block-1">
                        <div class="banner-block">
                            <div class="banner-content">
                                <div class="banner-text">
                                    <span class="gi-banner-title">Our top most products check it now</span>
                                </div>
                                <a href="shop-left-sidebar-col-3.html" class="gi-btn-2">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Trending -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-6 gi-all-product-content gi-new-product-content mt-767-40 wow fadeInUp"
                data-wow-delay=".4s">
                <div class="col-md-12">
                    <div class="section-title">
                        <div class="section-detail">
                            <h2 class="gi-title">Trending <span>Items</span></h2>
                        </div>
                    </div>
                </div>
                <div class="gi-trending-slider">
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/10_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html"
                                        title="Healthy Nutmix, 200g Pack">Healthy Nutmix, 200g Pack</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Driedfruit</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$42.00</span>
                                            <span class="old-price">$45.00</span>
                                            <span class="qty">- 5 kg</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/11_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Organic fresh
                                        tomato</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Vegetables</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$25.00</span>
                                            <span class="old-price">$30.00</span>
                                            <span class="qty">- 250 g</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/19_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Coffee with chocolate
                                        cream mix pack</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Coffee</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$62.00</span>
                                            <span class="old-price">$65.00</span>
                                            <span class="qty">- 1 kg</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/25_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Fresh Lichi</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Fruits</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$10.00</span>
                                            <span class="old-price">$11.00</span>
                                            <span class="qty">- 500 g</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/5_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Berry & Graps Mix
                                        Snack</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Driedfruit</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$52.00</span>
                                            <span class="old-price">$55.00</span>
                                            <span class="qty">- 1 pcs</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/29_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Pineapple</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Fruits</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$20.00</span>
                                            <span class="old-price">$30.00</span>
                                            <span class="qty">- 12 pcs</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Rated -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-6 gi-all-product-content gi-new-product-content mt-1199-40 wow fadeInUp"
                data-wow-delay=".6s">
                <div class="col-md-12">
                    <div class="section-title">
                        <div class="section-detail">
                            <h2 class="gi-title">Top <span>Rated</span></h2>
                        </div>
                    </div>
                </div>
                <div class="gi-rated-slider">
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/17_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Ginger - Organic</a>
                                </h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">vegetables</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$62.00</span>
                                            <span class="old-price">$65.00</span>
                                            <span class="qty">- 1 kg</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/2_2.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Dates Value Pouch Dates
                                        Value Pouch</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Driedfruit</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$56.00</span>
                                            <span class="old-price">$78.00</span>
                                            <span class="qty">- 3 pcs</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/23_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Blue berry</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Fruits</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$25.00</span>
                                            <span class="old-price">$30.00</span>
                                            <span class="qty">- 250 g</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/13_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Onion - Hybrid</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">vegetables</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$20.00</span>
                                            <span class="old-price">$30.00</span>
                                            <span class="qty">- 12 pcs</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/12_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Potato</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Vegetables</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$50.00</span>
                                            <span class="old-price">$55.00</span>
                                            <span class="qty">- 2 pack</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/28_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Mango - Kesar</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Fruits</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$52.00</span>
                                            <span class="old-price">$55.00</span>
                                            <span class="qty">- 1 pcs</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Selling -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-6 gi-all-product-content gi-new-product-content mt-1199-40 wow fadeInUp"
                data-wow-delay=".8s">
                <div class="col-md-12">
                    <div class="section-title">
                        <div class="section-detail">
                            <h2 class="gi-title">Top <span>Selling</span></h2>
                        </div>
                    </div>
                </div>
                <div class="gi-trending-slider">
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/18_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Lemon - Seedless</a>
                                </h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Vegetables</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$42.00</span>
                                            <span class="old-price">$45.00</span>
                                            <span class="qty">- 5 kg</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/28_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Mango - Kesar</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Fruits</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$62.00</span>
                                            <span class="old-price">$65.00</span>
                                            <span class="qty">- 1 kg</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/7_2.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Mixed Nuts & Almonds
                                        Dry Fruits</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Driedfruit</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$10.00</span>
                                            <span class="old-price">$11.00</span>
                                            <span class="qty">- 500 g</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/3_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Californian Almonds
                                        Value Pack</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Driedfruit</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$25.00</span>
                                            <span class="old-price">$30.00</span>
                                            <span class="qty">- 250 g</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/13_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Onion - Hybrid</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">vegetables</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$20.00</span>
                                            <span class="old-price">$30.00</span>
                                            <span class="qty">- 12 pcs</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 gi-all-product-block">
                        <div class="gi-all-product-inner">
                            <div class="gi-pro-image-outer">
                                <div class="gi-pro-image">
                                    <a href="product-left-sidebar.html" class="image">
                                        <img class="main-image" src="images/product-images/5_1.jpg" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="gi-pro-content">
                                <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Berry & Graps Mix
                                        Snack</a></h5>
                                <h6 class="gi-pro-stitle"><a href="shop-left-sidebar-col-3.html">Driedfruit</a></h6>
                                <div class="gi-pro-rat-price">
                                    <div class="gi-pro-rat-pri-inner">
                                        <span class="gi-price">
                                            <span class="new-price">$52.00</span>
                                            <span class="old-price">$55.00</span>
                                            <span class="qty">- 1 pcs</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="add-to-cart" title="Add To Cart">
                                    <i class="fi-rr-shopping-basket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trending, Top Rated End -->