<!-- Footer Start -->
<footer class="gi-footer m-t-40">
    <div class="footer-container">
        <div class="footer-top padding-tb-80">
            <div class="container">
                <div class="row m-minus-991">
                    <div class="col-sm-12 col-lg-3 gi-footer-cat wow fadeInUp">
                        <div class="gi-footer-widget gi-footer-company">
                            <img [src]="getFullImageUrl(siteConfig?.logoUrl)" class="gi-footer-logo" alt="footer logo">
                            <p class="gi-footer-detail">{{ siteConfig?.footer?.aboutText || 'Green Basket store.' }}</p>
                            <div class="gi-app-store">
                                <a [href]="siteConfig?.androidAppUrl || '#'" class="app-img" target="_blank"
                                    rel="noopener">
                                    <img src="images/app/android.png" class="adroid" alt="android app">
                                </a>
                                <a [href]="siteConfig?.iosAppUrl || '#'" class="app-img" target="_blank" rel="noopener">
                                    <img src="images/app/apple.png" class="apple" alt="ios app">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 gi-footer-info wow fadeInUp" data-wow-delay="0.2s">
                        <div class="gi-footer-widget">
                            <h4 class="gi-footer-heading">Category</h4>
                            <div class="gi-footer-links gi-footer-dropdown">
                                <ul class="align-itegi-center">
                                    <li class="gi-footer-link" *ngFor="let category of footerCategories">
                                        <a [routerLink]="['/category', category.urlHandle]">{{ category.name }}</a>
                                    </li>
                                    <li class="gi-footer-link" *ngIf="footerCategories.length === 0">
                                        <a routerLink="/categories">Browse Categories</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 gi-footer-account wow fadeInUp" data-wow-delay="0.3s">
                        <div class="gi-footer-widget">
                            <h4 class="gi-footer-heading">Company</h4>
                            <div class="gi-footer-links gi-footer-dropdown">
                                <ul class="align-itegi-center">
                                    <li class="gi-footer-link"><a routerLink="/about-us">About us</a></li>
                                    <li class="gi-footer-link"><a routerLink="/track-order">Delivery</a></li>
                                    <li class="gi-footer-link"><a routerLink="/privacy-policy">Legal Notice</a></li>
                                    <li class="gi-footer-link"><a routerLink="/terms-condition">Terms & conditions</a>
                                    </li>
                                    <li class="gi-footer-link"><a routerLink="/checkout">Secure payment</a></li>
                                    <li class="gi-footer-link"><a routerLink="/contact-us">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 gi-footer-service wow fadeInUp" data-wow-delay="0.4s">
                        <div class="gi-footer-widget">
                            <h4 class="gi-footer-heading">Account</h4>
                            <div class="gi-footer-links gi-footer-dropdown">
                                <ul class="align-itegi-center">
                                    <li class="gi-footer-link"><a routerLink="/register">Sign In</a></li>
                                    <li class="gi-footer-link"><a routerLink="/cart">View Cart</a></li>
                                    <li class="gi-footer-link"><a routerLink="/privacy-policy">Return Policy</a></li>
                                    <li class="gi-footer-link"><a routerLink="/vendor">Become a Vendor</a></li>
                                    <li class="gi-footer-link"><a routerLink="/affiliate">Affiliate Program</a></li>
                                    <li class="gi-footer-link"><a routerLink="/checkout">Payments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 gi-footer-cont-social wow fadeInUp" data-wow-delay="0.5s">
                        <div class="gi-footer-contact">
                            <div class="gi-footer-widget">
                                <h4 class="gi-footer-heading">Contact</h4>
                                <div class="gi-footer-links gi-footer-dropdown">
                                    <ul class="align-itegi-center">
                                        <li class="gi-footer-link gi-foo-location">
                                            <span>
                                                <i class="fi fi-rr-marker location svg_img foo_svg"></i>
                                            </span>
                                            <p>{{ siteConfig?.address || 'India' }}</p>
                                        </li>
                                        <li class="gi-footer-link gi-foo-call">
                                            <span>
                                                <i class="fi fi-brands-whatsapp svg_img foo_svg"></i>
                                            </span>
                                            <a [href]="'tel:' + (siteConfig?.phone1 || '+91 969 454 9559')">{{
                                                siteConfig?.phone1 || '+91 969 454 9559' }}</a>
                                        </li>
                                        <li class="gi-footer-link gi-foo-mail">
                                            <span>
                                                <i class="fi fi-rr-envelope"></i>
                                            </span>
                                            <a [href]="'mailto:' + (siteConfig?.email || 'support@greenbasket.com')">{{
                                                siteConfig?.email || 'support&#64;greenbasket.com' }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="gi-footer-social">
                            <div class="gi-footer-widget">
                                <div class="gi-footer-links gi-footer-dropdown">
                                    <ul class="align-itegi-center">
                                        <li class="gi-footer-link" *ngIf="siteConfig?.social?.facebookUrl">
                                            <a [href]="siteConfig?.social?.facebookUrl" target="_blank" rel="noopener">
                                                <i class="gicon gi-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="gi-footer-link" *ngIf="siteConfig?.social?.twitterUrl">
                                            <a [href]="siteConfig?.social?.twitterUrl" target="_blank" rel="noopener">
                                                <i class="gicon gi-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="gi-footer-link" *ngIf="siteConfig?.social?.linkedInUrl">
                                            <a [href]="siteConfig?.social?.linkedInUrl" target="_blank" rel="noopener">
                                                <i class="gicon gi-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="gi-footer-link" *ngIf="siteConfig?.social?.instagramUrl">
                                            <a [href]="siteConfig?.social?.instagramUrl" target="_blank" rel="noopener">
                                                <i class="gicon gi-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="gi-footer-link" *ngIf="siteConfig?.social?.youTubeUrl">
                                            <a [href]="siteConfig?.social?.youTubeUrl" target="_blank" rel="noopener">
                                                <i class="gicon gi-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="gi-footer-link" *ngIf="siteConfig?.social?.whatsAppNumber">
                                            <a [href]="getWhatsAppLink()" target="_blank" rel="noopener">
                                                <i class="fi fi-brands-whatsapp" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="gi-bottom-info">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copy">
                            <div class="footer-bottom-copy ">
                                <div class="gi-copy">
                                    {{ siteConfig?.footer?.copyright || ('© ' + getCurrentYear() + ' ' +
                                    (siteConfig?.siteName || 'GreenBasket') + '. All rights reserved.') }}
                                </div>
                            </div>
                        </div>
                        <!-- Footer Copyright End -->
                        <!-- Footer payment -->
                        <div class="footer-bottom-right">
                            <div class="footer-bottom-payment d-flex justify-content-center">
                                <div class="payment-link">
                                    <img src="images/hero-bg/payment.png" alt="payment">
                                </div>

                            </div>
                        </div>
                        <!-- Footer payment -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->