<!-- Blog Section Start -->
<section class="gi-blog-section padding-tb-40 wow fadeInUp">
    <div class="container">
        <div class="row m-b-minus-24px">
            <div class="section-title">
                <div class="section-detail">
                    <h2 class="gi-title">Latest <span>Blog</span></h2>
                    <p>We tackle interesting topics every day in 2023.</p>
                </div>
                <span class="title-link">
                    <a href="blog-left-sidebar.html">All Blogs<i class="fi-rr-angle-double-small-right"></i></a>
                </span>
            </div>
            <div class="gi-blog-carousel owl-carousel">
                <div class="gi-blog-item">
                    <div class="blog-info">
                        <figure class="blog-img"><a href="#"><img src="images/blog/1.jpg" alt="news imag"></a>
                        </figure>
                        <div class="detail">
                            <label>June 30,2022 - <a href="#">Organic</a></label>
                            <h3><a href="#">Marketing Guide: 5 Steps to Success to way.</a></h3>
                            <div class="more-info">
                                <a href="blog-detail-left-sidebar.html">Read More<i
                                        class="fi-rr-angle-double-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gi-blog-item">
                    <div class="blog-info">
                        <figure class="blog-img"><a href="#"><img src="images/blog/2.jpg" alt="news imag"></a>
                        </figure>
                        <div class="detail">
                            <label>April 02,2022 - <a href="#">Fruits</a></label>
                            <h3><a href="#">Best way to solve business deal issue in market.</a></h3>
                            <div class="more-info">
                                <a href="blog-detail-left-sidebar.html">Read More<i
                                        class="fi-rr-angle-double-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gi-blog-item">
                    <div class="blog-info">
                        <figure class="blog-img"><a href="#"><img src="images/blog/3.jpg" alt="news imag"></a>
                        </figure>
                        <div class="detail">
                            <label>Mar 09,2022 - <a href="#">Vegetables</a></label>
                            <h3><a href="#">31 grocery customer service stats know in 2019.</a></h3>
                            <div class="more-info">
                                <a href="blog-detail-left-sidebar.html">Read More<i
                                        class="fi-rr-angle-double-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gi-blog-item">
                    <div class="blog-info">
                        <figure class="blog-img"><a href="#"><img src="images/blog/4.jpg" alt="news imag"></a>
                        </figure>
                        <div class="detail">
                            <label>January 25,2022 - <a href="#">Fastfood</a></label>
                            <h3><a href="#">Business ideas to grow your business traffic.</a></h3>
                            <div class="more-info">
                                <a href="blog-detail-left-sidebar.html">Read More<i
                                        class="fi-rr-angle-double-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gi-blog-item">
                    <div class="blog-info">
                        <figure class="blog-img"><a href="#"><img src="images/blog/5.jpg" alt="news imag"></a>
                        </figure>
                        <div class="detail">
                            <label>December 10,2021 - <a href="#">Fruits</a></label>
                            <h3><a href="#">Marketing Guide: 5 Steps way to Success.</a></h3>
                            <div class="more-info">
                                <a href="blog-detail-left-sidebar.html">Read More<i
                                        class="fi-rr-angle-double-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gi-blog-item">
                    <div class="blog-info">
                        <figure class="blog-img"><a href="#"><img src="images/blog/6.jpg" alt="news imag"></a>
                        </figure>
                        <div class="detail">
                            <label>August 08,2021 - <a href="#">Vegetables</a></label>
                            <h3><a href="#">15 customer service stats idea know in 2023.</a></h3>
                            <div class="more-info">
                                <a href="blog-detail-left-sidebar.html">Read More<i
                                        class="fi-rr-angle-double-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->