<!-- Blog Section Start -->
<section class="gi-blog-section padding-tb-40 wow fadeInUp">
    <div class="container">
        <div class="row m-b-minus-24px">
            <div class="section-title">
                <div class="section-detail">
                    <h2 class="gi-title">Latest <span>Blog</span></h2>
                    <p>We tackle interesting topics every day.</p>
                </div>
                <span class="title-link">
                    <a [routerLink]="['/blogs']">All Blogs<i class="fi-rr-angle-double-small-right"></i></a>
                </span>
            </div>

            <!-- Loading State -->
            <div *ngIf="loading" class="text-center py-4 w-100">
                <p>Loading blogs...</p>
            </div>

            <!-- Error State -->
            <div *ngIf="error && !loading" class="text-center py-4 w-100">
                <p class="text-danger">{{error}}</p>
            </div>

            <!-- Blog Horizontal Row (5 items visible) -->
            <div class="gi-blog-slider-wrapper" *ngIf="!loading && !error && blogs.length > 0">
                <div class="gi-blog-slider">
                    <div class="gi-blog-item" *ngFor="let blog of blogs">
                        <div class="blog-info">
                            <figure class="blog-img">
                                <a [routerLink]="['/blog', blog.urlSlug]">
                                    <img [src]="utilityService.getFullImageUrl(blog.featuredImageUrl)"
                                        [alt]="blog.title">
                                </a>
                            </figure>
                            <div class="detail">
                                <label>{{utilityService.formatDate(blog.publishDate)}} - <a
                                        href="javascript:void(0)">{{blog.categoryName}}</a></label>
                                <h3><a [routerLink]="['/blog', blog.urlSlug]">{{blog.title}}</a></h3>
                                <div class="more-info">
                                    <a [routerLink]="['/blog', blog.urlSlug]">Read More<i
                                            class="fi-rr-angle-double-small-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->