<!-- Breadcrumb start -->
<div class="gi-breadcrumb m-b-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row gi_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="gi-breadcrumb-title">Blog Page</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ul class="gi-breadcrumb-list">
                            <li class="gi-breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="gi-breadcrumb-item"><a routerLink="/blogs">Blogs</a></li>
                            <li class="gi-breadcrumb-item active" *ngIf="blog">{{blog.title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->

<!-- Blog section -->
<section class="gi-blog padding-tb-40">
    <div class="container">
        <div class="row">
            <!-- Right Side - Blog Content (Dynamic) -->
            <div class="gi-blogs-rightside col-lg-8 order-lg-last col-md-12 order-md-first">

                <!-- Loading State -->
                <div *ngIf="loading" class="text-center py-5">
                    <p>Loading blog...</p>
                </div>

                <!-- Error State -->
                <div *ngIf="error && !loading" class="text-center py-5">
                    <p class="text-danger">{{error}}</p>
                </div>

                <!-- Blog Content Start -->
                <div class="gi-blogs-content" *ngIf="!loading && !error && blog">
                    <div class="gi-blogs-inner">
                        <div class="gi-single-blog-item">
                            <div class="single-blog-info">
                                <!-- Featured Image -->
                                <figure class="blog-img">
                                    <img [src]="utilityService.getFullImageUrl(blog.featuredImageUrl)"
                                        [alt]="blog.featuredImageAlt || blog.title">
                                </figure>

                                <div class="single-blog-detail">
                                    <!-- Date & Category -->
                                    <label>
                                        {{utilityService.formatDate(blog.publishDate)}} -
                                        <a [routerLink]="['/blogs']" [queryParams]="{category: blog.categorySlug}">
                                            {{blog.categoryName}}
                                        </a>
                                    </label>

                                    <!-- Title -->
                                    <h3>{{blog.title}}</h3>

                                    <!-- Blog Body Content (HTML from API - sanitized) -->
                                    <div [innerHTML]="sanitizedBody"></div>

                                    <!-- Blog Images (if any) -->
                                    <div class="sub-img" *ngIf="blog.images && blog.images.length > 0">
                                        <div class="row">
                                            <div class="col-md-6" *ngFor="let image of blog.images">
                                                <img [src]="utilityService.getFullImageUrl(image.imageUrl)"
                                                    [alt]="image.altText || 'Blog image'">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tags -->
                                    <div class="blog-tags" *ngIf="blog.tagList && blog.tagList.length > 0">
                                        <span class="tag-label">Tags: </span>
                                        <span *ngFor="let tag of blog.tagList; let last = last">
                                            <a href="javascript:void(0)">{{tag}}</a>{{last ? '' : ', '}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Comments Section Start -->
                    <div class="gi-blog-comments m-t-80" *ngIf="blog.allowComments">
                        <div class="gi-blog-cmt-preview">
                            <div class="gi-blog-comment-wrapper">
                                <h4 class="gi-blog-dgi-title">Comments : {{blog.commentCount | number:'2.0-0'}}</h4>

                                <!-- No Comments Message -->
                                <div *ngIf="blog.comments.length === 0" class="no-comments mt-35">
                                    <p>No comments yet. Be the first to comment!</p>
                                </div>

                                <!-- Comments List -->
                                <div class="gi-single-comment-wrapper mt-35" *ngFor="let comment of blog.comments">
                                    <div class="gi-blog-user-img">
                                        <img [src]="comment.avatarUrl || 'images/user/default-avatar.png'"
                                            alt="User avatar">
                                    </div>
                                    <div class="gi-blog-comment-content">
                                        <h5>{{comment.userName}}</h5>
                                        <span>{{utilityService.formatDate(comment.createdOn)}}</span>
                                        <p>{{comment.message}}</p>
                                        <div class="gi-blog-details-btn">
                                            <a href="javascript:void(0)">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Comment Form -->
                        <div class="gi-blog-cmt-form">
                            <div class="gi-blog-reply-wrapper mt-50">
                                <h4 class="gi-blog-dgi-title">Leave A Reply</h4>
                                <form class="gi-blog-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="gi-leave-form">
                                                <input type="text" placeholder="Full Name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="gi-leave-form">
                                                <input type="email" placeholder="Email Address" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="gi-text-leave">
                                                <textarea placeholder="Message" required></textarea>
                                                <button type="submit" class="gi-btn-2">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Comments Section End -->
                </div>
                <!-- Blog Content End -->
            </div>

            <!-- Left Sidebar (Dynamic) -->
            <div class="col-lg-4 order-lg-first col-md-12 order-md-last m-t-991">
                <app-blog-sidebar 
                    [selectedCategorySlug]="blog?.categorySlug || null"
                    (searchQueryChange)="onSearch($event)"
                    (categorySelect)="onCategorySelect($event)">
                </app-blog-sidebar>
            </div>
        </div>
    </div>
</section>
<!-- Blog section End -->