<!-- Breadcrumb -->
<app-breadcrumb pageTitle="Blog Page" [items]="breadcrumbItems">
</app-breadcrumb>

<!-- Blog section -->
<section class="gi-blog padding-tb-40">
    <div class="container">
        <div class="row">
            <!-- Right Side - Blog Content (Dynamic) -->
            <div class="gi-blogs-rightside col-lg-8 order-lg-last col-md-12 order-md-first">

                <!-- Loading State -->
                <div *ngIf="loading" class="text-center py-5">
                    <p>Loading blog...</p>
                </div>

                <!-- Error State -->
                <div *ngIf="error && !loading" class="text-center py-5">
                    <p class="text-danger">{{error}}</p>
                </div>

                <!-- Blog Content Start -->
                <div class="gi-blogs-content" *ngIf="!loading && !error && blog">
                    <div class="gi-blogs-inner">
                        <div class="gi-single-blog-item">
                            <div class="single-blog-info">
                                <!-- Featured Image -->
                                <figure class="blog-img">
                                    <img [src]="utilityService.getFullImageUrl(blog.featuredImageUrl)"
                                        [alt]="blog.featuredImageAlt || blog.title">
                                </figure>

                                <div class="single-blog-detail">
                                    <!-- Date & Category -->
                                    <label>
                                        {{utilityService.formatDate(blog.publishDate)}} -
                                        <a [routerLink]="['/blogs']" [queryParams]="{category: blog.categorySlug}">
                                            {{blog.categoryName}}
                                        </a>
                                    </label>

                                    <!-- Title -->
                                    <h3>{{blog.title}}</h3>

                                    <!-- Blog Body Content (HTML from API - sanitized) -->
                                    <div [innerHTML]="sanitizedBody"></div>

                                    <!-- Blog Images (if any) -->
                                    <div class="sub-img" *ngIf="blog.images && blog.images.length > 0">
                                        <div class="row">
                                            <div class="col-md-6" *ngFor="let image of blog.images">
                                                <img [src]="utilityService.getFullImageUrl(image.imageUrl)"
                                                    [alt]="image.altText || 'Blog image'">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tags -->
                                    <div class="blog-tags" *ngIf="blog.tagList && blog.tagList.length > 0">
                                        <span class="tag-label">Tags: </span>
                                        <span *ngFor="let tag of blog.tagList; let last = last">
                                            <a href="javascript:void(0)">{{tag}}</a>{{last ? '' : ', '}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Comments Section (using reusable component) -->
                    <app-blog-comment *ngIf="blog.allowComments" [blogPostId]="blog.id" [comments]="blog.comments"
                        [commentCount]="blog.commentCount" (commentPosted)="onCommentPosted()">
                    </app-blog-comment>
                </div>
                <!-- Blog Content End -->
            </div>

            <!-- Left Sidebar (Dynamic) -->
            <div class="col-lg-4 order-lg-first col-md-12 order-md-last m-t-991">
                <app-blog-sidebar [selectedCategorySlug]="blog?.categorySlug || null"
                    (searchQueryChange)="onSearch($event)" (categorySelect)="onCategorySelect($event)">
                </app-blog-sidebar>
            </div>
        </div>
    </div>
</section>
<!-- Blog section End -->