<!-- Breadcrumb -->
<app-breadcrumb pageTitle="Track Order" [items]="breadcrumbItems"></app-breadcrumb>

<!-- Track Order section -->
<section class="gi-track padding-tb-40">
    <div class="container">
        <div class="section-title-2">
            <h2 class="gi-title">Track<span> Order</span></h2>
            <p>We delivering happiness and needs, Faster than you can think.</p>
        </div>
        <div class="row">
            <div class="container">
                <div class="gi-track-box">
                    <!-- Details-->
                    <div class="row">
                        <div class="col-md-4 m-b-767">
                            <div class="gi-track-card"><span class="gi-track-title">order</span><span>#6152</span>
                            </div>
                        </div>
                        <div class="col-md-4 m-b-767">
                            <div class="gi-track-card"><span
                                    class="gi-track-title">Grasshoppers</span><span>v534hb</span></div>
                        </div>
                        <div class="col-md-4 m-b-767">
                            <div class="gi-track-card"><span class="gi-track-title">Expected date</span><span>June
                                    17, 2019</span></div>
                        </div>
                    </div>
                    <!-- Progress-->
                    <div class="gi-steps">
                        <div class="gi-steps-body">
                            <div class="gi-step gi-step-completed">
                                <span class="gi-step-indicator">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </span>
                                <span class="gi-step-icon">
                                    <i class="fi fi-rs-comment-check"></i>
                                </span>Order<br> confirmed
                            </div>

                            <div class="gi-step gi-step-completed">
                                <span class="gi-step-indicator">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </span>
                                <span class="gi-step-icon">
                                    <i class="fi fi-rs-settings"></i>
                                </span>Processing<br> order
                            </div>
                            <div class="gi-step gi-step-active">
                                <span class="gi-step-icon">
                                    <i class="fi fi-rs-gift"></i>
                                </span>Quality<br> check
                            </div>
                            <div class="gi-step">
                                <span class="gi-step-icon">
                                    <i class="fi fi-rs-truck-side"></i>
                                </span>Product<br> dispatched
                            </div>
                            <div class="gi-step">
                                <span class="gi-step-icon">
                                    <i class="fi fi-rs-home"></i>
                                </span>Product<br> delivered
                            </div>
                        </div>
                        <div class="gi-steps-header">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Track Order section End -->