<!-- Breadcrumb -->
<app-breadcrumb [pageTitle]="product?.name || 'Product Page'" [items]="breadcrumbItems"></app-breadcrumb>

<!-- Start Single Product -->
<section class="gi-single-product padding-tb-40" *ngIf="!loading && product">
    <div class="container">
        <div class="row">
            <div class="gi-pro-rightside gi-common-rightside col-md-12">
                <!-- Single product content Start -->
                <div class="single-pro-block">
                    <div class="single-pro-inner">
                        <div class="row">
                            <div class="single-pro-img single-pro-img-no-sidebar">
                                <div class="single-product-scroll">
                                    <div class="single-product-cover">
                                        <div class="single-slide zoom-image-hover" *ngFor="let image of product.images">
                                            <img class="img-responsive"
                                                [src]="utilityService.getFullImageUrl(image.url)"
                                                [alt]="image.altAttribute">
                                        </div>
                                    </div>
                                    <div class="single-nav-thumb">
                                        <div class="single-slide" *ngFor="let image of product.images">
                                            <img class="img-responsive"
                                                [src]="utilityService.getFullImageUrl(image.url)"
                                                [alt]="image.altAttribute">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-pro-desc single-pro-desc-no-sidebar m-t-991">
                                <div class="single-pro-content">
                                    <h5 class="gi-single-title">{{product.name}}</h5>
                                    <div class="gi-single-rating-wrap">
                                        <div class="gi-single-rating">
                                            <i class="gicon gi-star fill"
                                                *ngFor="let star of utilityService.getFilledStars(product.rating.averageRating || 0)"></i>
                                            <i class="gicon gi-star-half fill"
                                                *ngIf="utilityService.hasHalfStar(product.rating.averageRating || 0)"></i>
                                            <i class="gicon gi-star"
                                                *ngFor="let star of utilityService.getEmptyStars(product.rating.averageRating || 0)"></i>
                                        </div>
                                        <span class="gi-read-review">
                                            |&nbsp;&nbsp;<a (click)="activateReviewTab($event)">
                                                {{ product.rating.reviewCount || 0 }} Ratings
                                            </a>
                                        </span>
                                    </div>
                                    <div class="gi-single-price-stoke">
                                        <div class="gi-single-price">
                                            <div class="final-price">
                                                ${{ currentPrice | number:'1.2-2' }}
                                                <span class="price-des" *ngIf="discountPercentage > 0">
                                                    -{{ discountPercentage }}%
                                                </span>
                                            </div>
                                            <div class="mrp" *ngIf="currentMRP">
                                                M.R.P. : <span>${{ currentMRP | number:'1.2-2' }}</span>
                                            </div>
                                        </div>
                                        <div class="gi-single-stoke">
                                            <span class="gi-single-sku">SKU#: {{ currentSKU }}</span>
                                            <span class="gi-single-ps-title"
                                                [class.out-of-stock]="product.stockQuantity === 0">
                                                {{ product.stockQuantity && product.stockQuantity > 0 ? 'IN STOCK' :
                                                'OUT OF STOCK' }}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- <div class="gi-single-price-stoke">
                                        <div class="gi-single-price">
                                            <div class="final-price">
                                                ${{selectedVariant?.price || product.price}}
                                                <span class="price-des"
                                                    *ngIf="selectedVariant?.mrp && selectedVariant?.price">
                                                    -{{((selectedVariant?.mrp! - selectedVariant?.price!) /
                                                    selectedVariant?.mrp! * 100).toFixed(0)}}%
                                                </span>
                                            </div>
                                            <div class="mrp" *ngIf="selectedVariant?.mrp || product.oldPrice">
                                                M.R.P. : <span>${{selectedVariant?.mrp || product.oldPrice}}</span>
                                            </div>
                                        </div>
                                        <div class="gi-single-stoke">
                                            <span class="gi-single-sku">SKU#: {{selectedVariant?.sku ||
                                                product.sku}}</span>
                                            <span class="gi-single-ps-title"
                                                [class.out-of-stock]="product.stockQuantity === 0">
                                                {{product.stockQuantity > 0 ? 'IN STOCK' : 'OUT OF STOCK'}}
                                            </span>
                                        </div>
                                    </div> -->
                                    <div class="gi-single-desc">{{product.shortDescription}}</div>

                                    <div class="gi-single-list">
                                        <ul *ngIf="topSpecifications && topSpecifications.length > 0">
                                            <li *ngFor="let spec of topSpecifications">
                                                <strong>{{spec.name}} :</strong> {{spec.value}}
                                            </li>
                                            <!-- <li><strong>Closure :</strong> Hook & Loop</li>
                                            <li><strong>Sole :</strong> Polyvinyl Chloride</li>
                                            <li><strong>Width :</strong> Medium</li>
                                            <li><strong>Outer Material :</strong> A-Grade Standard Quality</li> -->
                                        </ul>
                                    </div>

                                    <div class="gi-single-list"
                                        *ngIf="product.categories && product.categories.length > 0">
                                        <ul>
                                            <li><strong>Categories: </strong>
                                                <span *ngFor="let cat of product.categories; let last = last">
                                                    <a [routerLink]="['/category', cat.urlHandle]">{{cat.name}}</a>
                                                    <span *ngIf="!last">, </span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="gi-pro-variation"
                                        *ngIf="product.variants && product.variants.length > 0">
                                        <div class="gi-pro-variation-inner gi-pro-variation-size">
                                            <span>Select Variant</span>
                                            <div class="gi-pro-variation-content">
                                                <ul>
                                                    <li *ngFor="let variant of product.variants"
                                                        [class.active]="selectedVariant?.id === variant.id"
                                                        (click)="selectVariant(variant)" style="cursor: pointer;">
                                                        <span>{{variant.variantName}} - ${{variant.price}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gi-single-qty">
                                        <div class="qty-plus-minus">
                                            <input class="qty-input" type="text" name="ms_qtybtn" value="1">
                                        </div>
                                        <div class="gi-single-cart">
                                            <button class="btn btn-primary gi-btn-1">Add To Cart</button>
                                        </div>
                                        <div class="gi-single-wishlist">
                                            <a class="gi-btn-group wishlist" title="Wishlist">
                                                <i class="fi-rr-heart"></i>
                                            </a>
                                        </div>
                                        <div class="gi-single-quickview">
                                            <a href="#" class="gi-btn-group quickview" data-link-action="quickview"
                                                title="Quick view" data-bs-toggle="modal"
                                                data-bs-target="#gi_quickview_modal">
                                                <i class="fi-rr-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single product content End -->
                <!-- Add More and get discount content Start -->
                <div class="single-add-more m-tb-40">
                    <div class="gi-add-more-slider owl-carousel">
                        <div class="add-more-item">
                            <a href="javascript:void(0)" class="gi-btn-2">+</a>
                            <div class="add-more-img">
                                <img src="images/product-images/8_1.jpg" alt="product">
                            </div>
                            <div class="add-more-info">
                                <h5>Honey Spiced Nuts</h5>
                                <span class="gi-pro-rating">
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star"></i>
                                    <i class="gicon gi-star"></i>
                                </span>
                                <span class="gi-price">
                                    <span class="new-price">$32.00</span>
                                    <span class="old-price">$45.00</span>
                                </span>
                            </div>
                        </div>
                        <div class="add-more-item">
                            <a href="javascript:void(0)" class="gi-btn-2">+</a>
                            <div class="add-more-img">
                                <img src="images/product-images/2_1.jpg" alt="product">
                            </div>
                            <div class="add-more-info">
                                <h5>Dates Value Pouch</h5>
                                <span class="gi-pro-rating">
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                </span>
                                <span class="gi-price">
                                    <span class="new-price">$56.00</span>
                                    <span class="old-price">$60.00</span>
                                </span>
                            </div>
                        </div>
                        <div class="add-more-item">
                            <a href="javascript:void(0)" class="gi-btn-2">+</a>
                            <div class="add-more-img">
                                <img src="images/product-images/5_1.jpg" alt="product">
                            </div>
                            <div class="add-more-info">
                                <h5>Graps Mix Snack</h5>
                                <span class="gi-pro-rating">
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star"></i>
                                    <i class="gicon gi-star"></i>
                                    <i class="gicon gi-star"></i>
                                </span>
                                <span class="gi-price">
                                    <span class="new-price">$28.00</span>
                                    <span class="old-price">$35.00</span>
                                </span>
                            </div>
                        </div>
                        <div class="add-more-item">
                            <a href="javascript:void(0)" class="gi-btn-2">+</a>
                            <div class="add-more-img">
                                <img src="images/product-images/9_1.jpg" alt="product">
                            </div>
                            <div class="add-more-info">
                                <h5>Roasted Almonds Pack</h5>
                                <span class="gi-pro-rating">
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                    <i class="gicon gi-star fill"></i>
                                </span>
                                <span class="gi-price">
                                    <span class="new-price">$16.00</span>
                                    <span class="old-price">$23.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single product tab start -->
                <div class="gi-single-pro-tab">
                    <div class="gi-single-pro-tab-wrapper">
                        <div class="gi-single-pro-tab-nav">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="details-tab" data-bs-toggle="tab"
                                        data-bs-target="#gi-spt-nav-details" type="button" role="tab"
                                        aria-controls="gi-spt-nav-details" aria-selected="true">Detail</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="info-tab" data-bs-toggle="tab"
                                        data-bs-target="#gi-spt-nav-info" type="button" role="tab"
                                        aria-controls="gi-spt-nav-info" aria-selected="false">Specifications</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="vendor-tab" data-bs-toggle="tab"
                                        data-bs-target="#gi-spt-nav-vendor" type="button" role="tab"
                                        aria-controls="gi-spt-nav-vendor" aria-selected="false">Vendor</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="review-tab" data-bs-toggle="tab"
                                        data-bs-target="#gi-spt-nav-review" type="button" role="tab"
                                        aria-controls="gi-spt-nav-review" aria-selected="false">Reviews</button>
                                </li>
                            </ul>

                        </div>
                        <div class="tab-content  gi-single-pro-tab-content">
                            <div id="gi-spt-nav-details" class="tab-pane fade show active">
                                <div class="gi-single-pro-tab-desc" [innerHTML]="product.fullDescription">

                                </div>
                                <!-- <div class="gi-single-pro-tab-desc">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of type and scrambled it to
                                        make a type specimen book. It has survived not only five centuries, but also
                                        the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                    <ul>
                                        <li>Any Product types that You want - Simple, Configurable</li>
                                        <li>Downloadable/Digital Products, Virtual Products</li>
                                        <li>Inventory Management with Backordered items</li>
                                        <li>Flatlock seams throughout.</li>
                                    </ul>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of type and scrambled it to
                                        make a type specimen book. It has survived not only five centuries, but also
                                        the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the
                                        majority have
                                        suffered alteration in some form, by injected humour, or randomised words
                                        which don't
                                        look even slightly believable. If you are going to use a passage of Lorem
                                        Ipsum,
                                        you need to be sure there isn't anything embarrassing hidden in the middle
                                        of text.
                                        All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                        chunks as necessary,
                                        making this the first true generator on the Internet. It uses a dictionary
                                        of over
                                        200 Latin words, combined with a handful of model sentence structures, to
                                        generate
                                        Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore
                                        always
                                        free from repetition, injected humour, or non-characteristic words etc.</p>
                                </div> -->
                            </div>
                            <!-- <div id="gi-spt-nav-info" class="tab-pane fade">
                                <div class="gi-single-pro-tab-moreinfo">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of type and scrambled it to
                                        make a type specimen book. It has survived not only five centuries.
                                    </p>
                                    <ul>
                                        <li><span>Model</span> {{product?.sku}}</li>
                                        <li><span>Weight</span> 500 g</li>
                                        <li><span>Dimensions</span> 35 × 30 × 7 cm</li>
                                        <li><span>Color</span> Black, Pink, Red, White</li>
                                        <li><span>Size</span> 10 X 20</li>
                                    </ul>
                                </div>
                            </div> -->


                            <!-- 8. UPDATE SPECIFICATIONS TAB -->
                            <div id="gi-spt-nav-info" class="tab-pane fade">
                                <div class="gi-single-pro-tab-moreinfo">
                                    <p>{{product.shortDescription}}</p>
                                    <ul *ngIf="product.specifications && product.specifications.length > 0">
                                        <li *ngFor="let spec of product.specifications">
                                            <span>{{spec.name}}</span> {{spec.value}}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="gi-spt-nav-vendor" class="tab-pane fade">
                                <div class="gi-single-pro-tab-moreinfo">
                                    <div class="gi-product-vendor">
                                        <div class="gi-vendor-info">
                                            <span>
                                                <img src="images/vendor/3.jpg" alt="vendor">
                                            </span>
                                            <div>
                                                <h5>Ocean Crate</h5>
                                                <p>Products : 358</p>
                                                <p>Sales : 5587</p>
                                            </div>
                                        </div>
                                        <div class="gi-detail">
                                            <ul>
                                                <li><span>Phone No. :</span> +00 987654321</li>
                                                <li><span>Email. :</span> Examplegmail.com</li>
                                                <li><span>Address. :</span> 2548 Broaddus Maple Court, Madisonville
                                                    KY 4783, USA.</li>
                                            </ul>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum has been the industry's standard dummy text ever since
                                                the
                                                1500s, when an unknown printer took a galley of type and scrambled
                                                it to
                                                make a type specimen book. It has survived not only five centuries,
                                                but also
                                                the leap into electronic typesetting, remaining essentially
                                                unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="gi-spt-nav-review" class="tab-pane fade">
                                <div class="row">
                                    <div class="gi-t-review-wrapper">
                                        <!-- Show message if no reviews -->
                                        <div *ngIf="!product.reviews || product.reviews.length === 0"
                                            class="no-reviews">
                                            <p>No reviews yet. Be the first to review this product!</p>
                                        </div>

                                        <!-- Loop through reviews -->
                                        <div class="gi-t-review-item" *ngFor="let review of product.reviews">
                                            <div class="gi-t-review-avtar">
                                                <img src="images/user/2.jpg" alt="user">
                                            </div>
                                            <div class="gi-t-review-content">
                                                <div class="gi-t-review-top">
                                                    <div class="gi-t-review-name">{{review.reviewerName || 'Anonymous'}}
                                                    </div>
                                                    <div class="gi-t-review-rating">
                                                        <i class="gicon gi-star fill"
                                                            *ngFor="let star of utilityService.getFilledStars(review.rating)"></i>
                                                        <i class="gicon gi-star"
                                                            *ngFor="let star of utilityService.getEmptyStars(review.rating)"></i>
                                                    </div>
                                                </div>
                                                <div class="gi-t-review-bottom">
                                                    <p>{{review.reviewText}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gi-ratting-content">
                                        <h3>Add a Review</h3>
                                        <div class="gi-ratting-form">
                                            <form action="#">
                                                <div class="gi-ratting-star">
                                                    <span>Your rating:</span>
                                                    <div class="gi-t-review-rating">
                                                        <i class="gicon gi-star fill"></i>
                                                        <i class="gicon gi-star fill"></i>
                                                        <i class="gicon gi-star-o"></i>
                                                        <i class="gicon gi-star-o"></i>
                                                        <i class="gicon gi-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="gi-ratting-input">
                                                    <input name="your-name" placeholder="Name" type="text">
                                                </div>
                                                <div class="gi-ratting-input">
                                                    <input name="your-email" placeholder="Email*" type="email" required>
                                                </div>
                                                <div class="gi-ratting-input form-submit">
                                                    <textarea name="your-commemt"
                                                        placeholder="Enter Your Comment"></textarea>
                                                    <button class="gi-btn-2" type="submit"
                                                        value="Submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details description area end -->
            </div>
        </div>
    </div>
</section>
<!-- End Single Product -->

<!-- Loading indicator -->
<div class="loading-spinner" *ngIf="loading">
    <div class="loader"></div>
    <p>Loading product details...</p>
</div>

<!-- Error state -->
<div class="error-message" *ngIf="!loading && !product">
    <p>Product not found</p>
    <a routerLink="/" class="gi-btn-1">Go to Home</a>
</div>

<!-- Related product section -->
<section class="gi-related-product gi-new-product padding-tb-40">
    <div class="container">
        <div class="row overflow-hidden m-b-minus-24px">
            <div class="gi-new-prod-section col-lg-12">
                <div class="gi-products">
                    <div class="section-title-2" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
                        <h2 class="gi-title">Related <span>Products</span></h2>
                        <p>Browse The Collection of Top Products</p>
                    </div>
                    <div class="gi-new-block m-minus-lr-12" data-aos="fade-up" data-aos-duration="2000"
                        data-aos-delay="300">
                        <div class="new-product-carousel owl-carousel gi-product-slider">
                            <div class="gi-product-content">
                                <div class="gi-product-inner">
                                    <div class="gi-pro-image-outer">
                                        <div class="gi-pro-image">
                                            <a href="product-left-sidebar.html" class="image">
                                                <span class="label veg">
                                                    <span class="dot"></span>
                                                </span>
                                                <img class="main-image" src="images/product-images/6_1.jpg"
                                                    alt="Product">
                                                <img class="hover-image" src="images/product-images/6_2.jpg"
                                                    alt="Product">
                                            </a>
                                            <span class="flags">
                                                <span class="sale">Sale</span>
                                            </span>
                                            <div class="gi-pro-actions">
                                                <a class="gi-btn-group wishlist" title="Wishlist"><i
                                                        class="fi-rr-heart"></i></a>
                                                <a href="#" class="gi-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#gi_quickview_modal"><i class="fi-rr-eye"></i></a>
                                                <a href="javascript:void(0)" class="gi-btn-group compare"
                                                    title="Compare"><i class="fi fi-rr-arrows-repeat"></i></a>
                                                <a href="javascript:void(0)" title="Add To Cart"
                                                    class="gi-btn-group add-to-cart"><i
                                                        class="fi-rr-shopping-basket"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gi-pro-content">
                                        <a href="shop-left-sidebar-col-3.html">
                                            <h6 class="gi-pro-stitle">Dried Fruits</h6>
                                        </a>
                                        <h5 class="gi-pro-title">
                                            <a href="product-left-sidebar.html">Mixed Nuts Seeds & Berries Pack</a>
                                        </h5>
                                        <div class="gi-pro-rat-price">
                                            <span class="gi-pro-rating">
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star"></i>
                                            </span>
                                            <span class="gi-price">
                                                <span class="new-price">$45.00</span>
                                                <span class="old-price">$56.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gi-product-content">
                                <div class="gi-product-inner">
                                    <div class="gi-pro-image-outer">
                                        <div class="gi-pro-image">
                                            <a href="product-left-sidebar.html" class="image">
                                                <img class="main-image" src="images/product-images/3_1.jpg"
                                                    alt="Product">
                                                <img class="hover-image" src="images/product-images/3_1.jpg"
                                                    alt="Product">
                                            </a>
                                            <span class="flags">
                                                <span class="sale">Sale</span>
                                            </span>
                                            <div class="gi-pro-actions">
                                                <a class="gi-btn-group wishlist" title="Wishlist"><i
                                                        class="fi-rr-heart"></i></a>
                                                <a href="#" class="gi-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#gi_quickview_modal"><i class="fi-rr-eye"></i></a>
                                                <a href="javascript:void(0)" class="gi-btn-group compare"
                                                    title="Compare"><i class="fi fi-rr-arrows-repeat"></i></a>
                                                <a href="javascript:void(0)" title="Add To Cart"
                                                    class="gi-btn-group add-to-cart"><i
                                                        class="fi-rr-shopping-basket"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gi-pro-content">
                                        <a href="shop-left-sidebar-col-3.html">
                                            <h6 class="gi-pro-stitle">Cookies</h6>
                                        </a>
                                        <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Multi-Grain
                                                Jaggery Combo Cookies</a></h5>
                                        <div class="gi-pro-rat-price">
                                            <span class="gi-pro-rating">
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star"></i>
                                                <i class="gicon gi-star"></i>
                                                <span class="qty">10 kg</span>
                                            </span>
                                            <span class="gi-price">
                                                <span class="new-price">$25.00</span>
                                                <span class="old-price">$30.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gi-product-content">
                                <div class="gi-product-inner">
                                    <div class="gi-pro-image-outer">
                                        <div class="gi-pro-image">
                                            <a href="product-left-sidebar.html" class="image">
                                                <span class="label nonveg">
                                                    <span class="dot"></span>
                                                </span>
                                                <img class="main-image" src="images/product-images/9_1.jpg"
                                                    alt="Product">
                                                <img class="hover-image" src="images/product-images/9_2.jpg"
                                                    alt="Product">
                                            </a>
                                            <div class="gi-pro-actions">
                                                <a class="gi-btn-group wishlist" title="Wishlist"><i
                                                        class="fi-rr-heart"></i></a>
                                                <a href="#" class="gi-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#gi_quickview_modal"><i class="fi-rr-eye"></i></a>
                                                <a href="javascript:void(0)" class="gi-btn-group compare"
                                                    title="Compare"><i class="fi fi-rr-arrows-repeat"></i></a>
                                                <a href="javascript:void(0)" title="Add To Cart"
                                                    class="gi-btn-group add-to-cart"><i
                                                        class="fi-rr-shopping-basket"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gi-pro-content">
                                        <a href="shop-left-sidebar-col-3.html">
                                            <h6 class="gi-pro-stitle">Foods</h6>
                                        </a>
                                        <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Fresh Mango
                                                tasty juice 500ml pack</a></h5>
                                        <div class="gi-pro-rat-price">
                                            <span class="gi-pro-rating">
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star"></i>
                                                <i class="gicon gi-star"></i>
                                                <i class="gicon gi-star"></i>
                                            </span>
                                            <span class="gi-price">
                                                <span class="new-price">$49.00</span>
                                                <span class="old-price">$65.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gi-product-content">
                                <div class="gi-product-inner">
                                    <div class="gi-pro-image-outer">
                                        <div class="gi-pro-image">
                                            <a href="product-left-sidebar.html" class="image">
                                                <img class="main-image" src="images/product-images/2_1.jpg"
                                                    alt="Product">
                                                <img class="hover-image" src="images/product-images/2_2.jpg"
                                                    alt="Product">
                                            </a>
                                            <span class="flags">
                                                <span class="sale">Sale</span>
                                            </span>
                                            <div class="gi-pro-actions">
                                                <a class="gi-btn-group wishlist" title="Wishlist"><i
                                                        class="fi-rr-heart"></i></a>
                                                <a href="#" class="gi-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#gi_quickview_modal"><i class="fi-rr-eye"></i></a>
                                                <a href="javascript:void(0)" class="gi-btn-group compare"
                                                    title="Compare"><i class="fi fi-rr-arrows-repeat"></i></a>
                                                <a href="javascript:void(0)" title="Add To Cart"
                                                    class="gi-btn-group add-to-cart"><i
                                                        class="fi-rr-shopping-basket"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gi-pro-content">
                                        <a href="shop-left-sidebar-col-3.html">
                                            <h6 class="gi-pro-stitle">Dried Fruits</h6>
                                        </a>
                                        <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Dates Value
                                                Solimo Fresh Pouch</a></h5>
                                        <div class="gi-pro-rat-price">
                                            <span class="gi-pro-rating">
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star"></i>
                                                <i class="gicon gi-star"></i>
                                            </span>
                                            <span class="gi-price">
                                                <span class="new-price">$78.00</span>
                                                <span class="old-price">$85.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gi-product-content">
                                <div class="gi-product-inner">
                                    <div class="gi-pro-image-outer">
                                        <div class="gi-pro-image">
                                            <a href="product-left-sidebar.html" class="image">
                                                <img class="main-image" src="images/product-images/1_1.jpg"
                                                    alt="Product">
                                                <img class="hover-image" src="images/product-images/1_2.jpg"
                                                    alt="Product">
                                            </a>
                                            <span class="flags">
                                                <span class="new">New</span>
                                            </span>
                                            <div class="gi-pro-actions">
                                                <a class="gi-btn-group wishlist" title="Wishlist"><i
                                                        class="fi-rr-heart"></i></a>
                                                <a href="#" class="gi-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#gi_quickview_modal"><i class="fi-rr-eye"></i></a>
                                                <a href="javascript:void(0)" class="gi-btn-group compare"
                                                    title="Compare"><i class="fi fi-rr-arrows-repeat"></i></a>
                                                <a href="javascript:void(0)" title="Add To Cart"
                                                    class="gi-btn-group add-to-cart"><i
                                                        class="fi-rr-shopping-basket"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gi-pro-content">
                                        <a href="shop-left-sidebar-col-3.html">
                                            <h6 class="gi-pro-stitle">Foods</h6>
                                        </a>
                                        <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Stick Fiber
                                                Gluten Free Masala-Magic</a></h5>
                                        <div class="gi-pro-rat-price">
                                            <span class="gi-pro-rating">
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star"></i>
                                                <i class="gicon gi-star"></i>
                                                <i class="gicon gi-star"></i>
                                                <span class="qty">2 pack</span>
                                            </span>
                                            <span class="gi-price">
                                                <span class="new-price">$45.00</span>
                                                <span class="old-price">$50.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gi-product-content">
                                <div class="gi-product-inner">
                                    <div class="gi-pro-image-outer">
                                        <div class="gi-pro-image">
                                            <a href="product-left-sidebar.html" class="image">
                                                <img class="main-image" src="images/product-images/24_1.jpg"
                                                    alt="Product">
                                                <img class="hover-image" src="images/product-images/24_1.jpg"
                                                    alt="Product">
                                            </a>
                                            <span class="flags">
                                                <span class="new">New</span>
                                            </span>
                                            <div class="gi-pro-actions">
                                                <a class="gi-btn-group wishlist" title="Wishlist"><i
                                                        class="fi-rr-heart"></i></a>
                                                <a href="#" class="gi-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#gi_quickview_modal"><i class="fi-rr-eye"></i></a>
                                                <a href="javascript:void(0)" class="gi-btn-group compare"
                                                    title="Compare"><i class="fi fi-rr-arrows-repeat"></i></a>
                                                <a href="javascript:void(0)" title="Add To Cart"
                                                    class="gi-btn-group add-to-cart"><i
                                                        class="fi-rr-shopping-basket"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gi-pro-content">
                                        <a href="shop-left-sidebar-col-3.html">
                                            <h6 class="gi-pro-stitle">Fresh Fruit</h6>
                                        </a>
                                        <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Natural Hub Red
                                                Cherry Karonda</a></h5>
                                        <div class="gi-pro-rat-price">
                                            <span class="gi-pro-rating">
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star"></i>
                                                <i class="gicon gi-star"></i>
                                                <i class="gicon gi-star"></i>
                                                <span class="qty">1 kg</span>
                                            </span>
                                            <span class="gi-price">
                                                <span class="new-price">$20.00</span>
                                                <span class="old-price">$21.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gi-product-content">
                                <div class="gi-product-inner">
                                    <div class="gi-pro-image-outer">
                                        <div class="gi-pro-image">
                                            <a href="product-left-sidebar.html" class="image">
                                                <img class="main-image" src="images/product-images/17_1.jpg"
                                                    alt="Product">
                                                <img class="hover-image" src="images/product-images/17_1.jpg"
                                                    alt="Product">
                                            </a>
                                            <div class="gi-pro-actions">
                                                <a class="gi-btn-group wishlist" title="Wishlist"><i
                                                        class="fi-rr-heart"></i></a>
                                                <a href="#" class="gi-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#gi_quickview_modal"><i class="fi-rr-eye"></i></a>
                                                <a href="javascript:void(0)" class="gi-btn-group compare"
                                                    title="Compare"><i class="fi fi-rr-arrows-repeat"></i></a>
                                                <a href="javascript:void(0)" title="Add To Cart"
                                                    class="gi-btn-group add-to-cart"><i
                                                        class="fi-rr-shopping-basket"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gi-pro-content">
                                        <a href="shop-left-sidebar-col-3.html">
                                            <h6 class="gi-pro-stitle">Tuber root</h6>
                                        </a>
                                        <h5 class="gi-pro-title"><a href="product-left-sidebar.html">Fresh Organic
                                                Ginger Product</a></h5>
                                        <div class="gi-pro-rat-price">
                                            <span class="gi-pro-rating">
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star fill"></i>
                                                <i class="gicon gi-star"></i>
                                                <i class="gicon gi-star"></i>
                                                <i class="gicon gi-star"></i>
                                                <span class="qty">100 g</span>
                                            </span>
                                            <span class="gi-price">
                                                <span class="new-price">$2.00</span>
                                                <span class="old-price">$3.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related product section End -->