<!-- Loader -->
<div id="gi-overlay">
    <div class="loader"></div>
</div>

<app-external-header></app-external-header>
<app-slider-cart></app-slider-cart>

<router-outlet></router-outlet>

<!-- Quickview Modal -->
<div class="modal fade quickview-modal" id="gi_quickview_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close qty_close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12 mb-767">
                        <div class="single-pro-img single-pro-img-no-sidebar">
                            <div class="single-product-scroll">
                                <div class="single-slide zoom-image-hover">
                                    <img class="img-responsive" src="images/product-images/10_1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="quickview-pro-content">
                            <h5 class="gi-quick-title"><a href="product-left-sidebar.html">Mix nuts premium quality
                                    organic
                                    dried fruit 250g pack</a>
                            </h5>
                            <div class="gi-quickview-rating">
                                <i class="gicon gi-star fill"></i>
                                <i class="gicon gi-star fill"></i>
                                <i class="gicon gi-star fill"></i>
                                <i class="gicon gi-star fill"></i>
                                <i class="gicon gi-star"></i>
                            </div>

                            <div class="gi-quickview-desc">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1900s,</div>
                            <div class="gi-quickview-price">
                                <span class="new-price">$50.00</span>
                                <span class="old-price">$62.00</span>
                            </div>

                            <div class="gi-pro-variation">
                                <div class="gi-pro-variation-inner gi-pro-variation-size gi-pro-size">
                                    <div class="gi-pro-variation-content">
                                        <ul class="gi-opt-size">
                                            <li class="active"><a href="javascript:void(0)" class="gi-opt-sz"
                                                    data-tooltip="Small">250g</a></li>
                                            <li><a href="javascript:void(0)" class="gi-opt-sz"
                                                    data-tooltip="Medium">500g</a></li>
                                            <li><a href="javascript:void(0)" class="gi-opt-sz"
                                                    data-tooltip="Large">1kg</a></li>
                                            <li><a href="javascript:void(0)" class="gi-opt-sz"
                                                    data-tooltip="Extra Large">2kg</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gi-quickview-qty">
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="gi_qtybtn" value="1">
                                </div>
                                <div class="gi-quickview-cart ">
                                    <button class="gi-btn-1"><i class="fi-rr-shopping-basket"></i> Add To
                                        Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quickview Modal end -->

<!-- Newsletter Modal Start -->
<div id="gi-popnews-bg"></div>
<div id="gi-popnews-box">
    <div id="gi-popnews-close">×</div>
    <div class="row">
        <div class="col-md-6 disp-no-767">
            <img src="images/bg/newsletter.png" alt="newsletter">
        </div>
        <div class="col-md-6">
            <div id="gi-popnews-box-content">
                <h2>Newsletter.</h2>
                <p>Subscribe the masterkart to get in touch and get the future update.</p>
                <form id="gi-popnews-form" action="#" method="post">
                    <input type="email" name="newsemail" placeholder="Email Address" required>
                    <button type="button" class="gi-btn-2" name="subscribe">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter Modal end -->

<!-- Back to top  -->
<a class="gi-back-to-top"></a>

<!-- Feature tools -->
<div class="gi-tools-sidebar-overlay"></div>
<div class="gi-tools-sidebar">
    <a href="javascript:void(0)" class="gi-tools-sidebar-toggle in-out">
        <i class="fi fi-rr-settings"></i>
    </a>
    <div class="gi-bar-title">
        <h6>Tools</h6>
        <a href="#" class="close-tools"><i class="ri-close-line"></i></a>
    </div>
    <div class="gi-tools-detail">
        <div class="gi-tools-block">
            <h3>Select Color</h3>
            <ul class="gi-color">
                <li class="color-primary active-variant">
                </li>
                <li class="color-1">
                </li>
                <li class="color-2">
                </li>
                <li class="color-3">
                </li>
                <li class="color-4">
                </li>
                <li class="color-5">
                </li>
                <li class="color-6">
                </li>
                <li class="color-7">
                </li>
                <li class="color-8">
                </li>
                <li class="color-9">
                </li>
            </ul>
        </div>
        <div class="gi-tools-block">
            <h3>Modes</h3>
            <div class="gi-tools-rtl">
                <div class="mode-primary gi-tools-item rtl-mode mode active-mode ltr" data-gi-mode-tool="ltr">
                    <img src="images/tools/ltr.png" alt="ltr">
                    <p>LTR</p>
                </div>
                <div class="gi-tools-item rtl-mode mode rtl" data-gi-mode-tool="rtl">
                    <img src="images/tools/rtl.png" alt="rtl">
                    <p>RTL</p>
                </div>
            </div>
        </div>
        <div class="gi-tools-block">
            <h3>Dark Modes</h3>
            <div class="gi-tools-dark">
                <div class="mode-primary gi-tools-item mode-dark active-mode light" data-gi-mode-dark="light">
                    <img src="images/tools/light.png" alt="light">
                    <p>Light</p>
                </div>
                <div class="gi-tools-item mode-dark dark" data-gi-mode-dark="dark">
                    <img src="images/tools/dark.png" alt="dark">
                    <p>Dark</p>
                </div>
            </div>
        </div>
    </div>
</div>



<app-external-footer></app-external-footer>